// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

md-toolbar ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

md-toolbar li {
  display: inline;
}

md-toolbar li.active {
  background-color: lightgray;
}

/**
 * Styles for bootstrap based header
 */
header {
  img {
    width: 6.5em;
    float: right;
  }
  div.navbar {
    background: $brand-color2;
    border-color: lighten($brand-color2, 6%);
    padding-right: 7em;
  }

  .navbar-default .navbar-nav>li {
    a {
      color: $text-color;

      &.active,
      &:focus,
      &:hover {
        background-color: darken($brand-color2, 25%);
        color: lighten($text-color, 75%);
        font-weight: bold;
      }

      &.active {
        background-color: darken($brand-color2, 35%);
      }
    }

  }
}
